@font-face {
    font-family: 'Inter';
    src: url(./interregular.ttf) format('ttf');
    src: url(./interregular.woff) format('woff');
    src: url(./interregular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(./interbold.ttf) format('ttf');
    src: url(./interbold.woff) format('woff');
    src: url(./interbold.woff2) format('woff2');
    font-weight: 700;
}